<form class="signup" name="signup">
  <div class="signup__logo">
      <img src="./assets/logo.svg">
  </div>
  <md-button
    class="md-icon-button signup__close"
    aria-label="close registration form"
    ng-click="$ctrl.goToSignin()"
  >
    <ng-md-icon icon="close" size="24"></ng-md-icon>
  </md-button>

  <section
    ng-if="$ctrl.step === 1"
    class="signup__step"
  >
    <div class="signup__step-title">
      Create a new account (Step 1 of 3)
    </div>
    <div class="signup__step-info">
      <p>Username should be <span>6</span> upto <span>30</span> characters.</p>
      <p>You can use letters, numbers, and any charecters except the <span>@</span> symbol.</p>
      <p>You can use charecters from any language.</p>
    </div>
    <md-input-container
      md-no-float
      class="input__field signup__inputfield"
    >
      <label>Your login</label>
      <input
        type="text"
        ng-class="{'ng-invalid': $ctrl.signupError}"
        name="loginname"
        placeholder="Please enter your login name"
        ng-minlength="$ctrl.CONST.NAME_MIN_LENGTH"
        ng-maxlength="$ctrl.CONST.NAME_MAX_LENGTH"
        pattern="[^@]+"
        ng-model="$ctrl.user.name"
        ng-keyup="$ctrl.keyEventHandler($event, 'name')"
      >
        <span
          ng-if="!!$ctrl.signupError"
          class="input__field--error"
        >
          {{ $ctrl.signupError }}
        </span>
        <span class="signup__inputfield--info">
          @privacysafe.me
        </span>
    </md-input-container>
    <div class="signup__step--action">
      <md-button
        ng-disabled="$ctrl.$scope.signup.loginname.$invalid || !$ctrl.user.name"
        ng-click="$ctrl.proceed(1)"
      >
        PROCEED
      </md-button>
    </div>
  </section>

  <section
    ng-if="$ctrl.step === 2"
    class="signup__step"
  >
    <div class="signup__step-title">
      Create a new account (Step 2 of 3):<br>
      {{ $ctrl.user.login }}
    </div>
    <div class="signup__step-info">
      <p>Your login password must be at least <span>12</span> characters.</p>
      <p>You can use letters, numbers, and any charecters.</p>
      <p>You can use charecters from any language.</p>
    </div>
    <md-input-container
      md-no-float
      class="input__field"
    >
      <label>Your password</label>
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
        ng-minlength="$ctrl.CONST.PASSWORD_MIN_LENGTH"
        ng-model="$ctrl.user.password"
        ng-keyup="$ctrl.keyEventHandler($event, 'password')"
      >
    </md-input-container>
    <md-input-container
      md-no-float
      class="input__field"
    >
      <label>Confirm password</label>
      <input
        type="password"
        ng-class="{'ng-invalid': $ctrl.signupError || $ctrl.$scope.signup.confirmpassword.$invalid}"
        name="confirmpassword"
        placeholder="Confirm your password"
        ng-minlength="$ctrl.CONST.PASSWORD_MIN_LENGTH"
        ng-model="$ctrl.user.passwordConfirm"
        ng-keyup="$ctrl.checkPassword($event)"
      >
        <span
          ng-if="!!$ctrl.signupError"
          class="input__field--error"
        >
          {{ $ctrl.signupError }}
        </span>
    </md-input-container>
    <div class="signup__step--action">
      <md-button
        ng-disabled="$ctrl.$scope.signup.$invalid || !!$ctrl.signupError || !$ctrl.user.password || !$ctrl.user.passwordConfirm"
        ng-click="$ctrl.proceed(2)"
      >
        PROCEED
      </md-button>
    </div>
  </section>

  <section
    ng-if="$ctrl.step === 3"
    class="signup__step"
  >
    <div class="signup__step-title">
      Create a new account (Step 3 of 3):<br>
      {{ $ctrl.user.login }}
    </div>
    <div class="signup__step-info">
      <p>Please read and acknowledge if you agree with followings:</p>
      <md-checkbox
        aria-label="question01"
        name="question01"
        ng-change="$ctrl.checkAnswers()"
        ng-model="$ctrl.questions.q1"
      >
        I understand that it is
        <a>
          <md-tooltip md-direction="top">About imposible to recover.</md-tooltip>
          imposible to recover
        </a>
        the password.
      </md-checkbox>
      <md-checkbox
        aria-label="question02"
        name="question02"
        ng-change="$ctrl.checkAnswers()"
        ng-disabled="!$ctrl.questions.q1"
        ng-model="$ctrl.questions.q2"
      >
        I agree to remember the password or make a paper copy.
      </md-checkbox>
      <md-checkbox
        aria-label="question03"
        name="question03"
        ng-change="$ctrl.checkAnswers()"
        ng-disabled="!$ctrl.questions.q1 || !$ctrl.questions.q2"
        ng-model="$ctrl.questions.q3"
      >
        I will make a copy of my password and store it secure with my
        <a>
          <md-tooltip md-direction="top">Trustee may be close family, friends, lawyers, etc.</md-tooltip>
          trustee
        </a>.
      </md-checkbox>
    </div>
    <div class="signup__step--action">
      <md-button
        ng-disabled="$ctrl.isCreateDisabled"
        ng-click="$ctrl.createAccount()"
      >
        CREATE ACCOUNT
      </md-button>
    </div>
    <div
      ng-if="$ctrl.signupError"
      class="signup__step--error-wrap"
    >
      {{ $ctrl.signupError }}
    </div>
  </section>


  <div
    ng-if="$ctrl.step > 1"
    class="signup__back"
  >
    <md-button
      class="signup__back--action"
      ng-click="$ctrl.back()"
    >
      BACK
    </md-button>
  </div>

  <div
    ng-if="$ctrl.isWait"
    class="wait-spinner"
  >
    <md-progress-circular
      md-mode="indeterminate"
      md-diameter="24"
    >
    </md-progress-circular>
    <div class="wait-spinner__text">
      {{ $ctrl.waitText }}
    </div>
  </div>
</form>
